@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

$brown: #786450;

.profile {
	width: 200px;
	height: 320px;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 5px;
	
	&__image {
		position: relative;
		width: 70px;
		height: 70px;
		margin: 38px auto 0 auto;
		
		.circle-1 {
			position: absolute;
			box-sizing: border-box;
			width: 76px;
			height: 76px;
			top: -3px;
			left: -3px;
			border-width: 1px;
			border-style: solid;
			border-color: $brown $brown $brown transparent;
			border-radius: 50%;
			transition: all 1.5s ease-in-out;
		}
		
		.circle-2 {
			@extend .circle-1;
			width: 82px;
			height: 82px;
			top: -6px;
			left: -6px;
			border-color: $brown transparent $brown $brown;
		}
		
		img {
			display: block;
			border-radius: 50%;
			background: #F5E8DF;
			object-fit: cover;
			width: 100%;
			// height: 250px;
		}
		
		&:hover {
			cursor: pointer;
			
			.circle-1 {
				transform: rotate(360deg);
			}
			
			.circle-2 {
				transform: rotate(-360deg);
			}
			
		}
		
	}
	
	&__name {
		font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
	}
	
	&__info {
		font-size: 11px;
    line-height: 10px;
    padding: 2px;
  }
  
  &__about {
    font-size: 13px;
    overflow: hidden;
    max-height: 100px;
  }
}
